@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}


:root{
    --cor00:#c5ebd6;
    --cor01:#83e1ad;
    --cor02:#3ddc84;
    --cor03:#2fa866;
    --cor04:#1a5c37;
    --cor05:#063d1e;

    --fonte_padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte_destaque:'Bebas Neue', 'cursive';
    --fonte_android: 'Android', 'cursive';
}

*{
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
}
body {
    background-color:var(--cor00);
    font-family: var(--fonte_padrao); 
     
}



header{
   background-image:linear-gradient(to bottom, var(--cor02), var(--cor05)); 
   min-height: auto;
   margin: 0px;
   text-align: center;
   padding: 10px;
   
}

header > h1 {
    color: white;
    font-family: var(--fonte_destaque);
    padding-bottom: 10px;
    font-size: 3em;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.638);
    margin: -10px 0px ;
    font-weight: normal;
}   
    

header > p {
    font-family: var(--fonte_padrao);
    font-size: 1,2em;
    color: white;
    padding-bottom: 10px;
    padding-top: 01px;
    margin: auto;
    text-shadow: 02px 02px 11px rgba(0, 0, 0, 0.638);
  
}

nav {
    background-color:var(--cor05);
    padding-bottom: 10px;
    box-shadow: 05px 02px 20px rgba(0, 0, 0, 0.864);
   
}
nav > a{
    color: white;
    padding: 10px;
    padding-top: 10px;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    border-radius: 05px;
    transition-duration: 1s;
}

a.externo::after{
    content: '\1F517';
}
nav > :hover{
    background-color: var(--cor02);
    color: var(--cor05);
}
main {

    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    border-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.624);
    columns: 2;
   
}
::be
main p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.8em;
}
main strong{
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 01px 6px;
}
main a { 
    text-decoration: none;
    
}

article > h1, h2, h3{
    color: var(--cor05);
    font-family: var(--fonte_android);
}
#vanio {
    background-image: linear-gradient(to right, var(--cor04),transparent);
    border-right: 10px;
    font-weight: normal;
    
}

article> iframe,img {
    width: 100%;
    margin-left: 2px;
    border: solid;
    
}
picture > img{
    width: 100%;
    margin:10px -28px;
}
aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 03px 03px 08px rgba(0, 0, 0, 0.659);
}
aside > h3{
    background-color: var(--cor03);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
 
aside > ul{
    columns: 2;
   list-style-type: '\2714\00a0\00a0';
}

footer{
    background-color: var(--cor05);
    color: white;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    text-align: center;
    
}